<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h4>会員情報編集</h4>
      <%= form_with model: @customer, url: customers_path, local:true do |f| %>
      <form>
        <div class="form-growp row">
          <label for="name" class="col-md-2 col-form-label">氏名</label>
          <div class="col-md-3">
            <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-growp row mt-3">
          <label for="kana_name" class="col-md-2 col-form-label">フリガナ</label>
          <div class="col-md-3">
            <%= f.text_field :last_name_kana, autofocus: true, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.text_field :first_name_kana, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-growp row mt-3">
          <label for="postal_code" class="col-md-2 col-form-label">郵便番号</label>
          <div class="col-md-3">
            <%= f.text_field :postal_code, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-growp row mt-3">
          <label for="address" class="col-md-2 col-form-label">住所</label>
          <div class="col-md-3">
            <%= f.text_field :address, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-growp row mt-3">
          <label for="telephone_number" class="col-md-2 col-form-label">電話番号</label>
          <div class="col-md-3">
            <%= f.text_field :telephone_number, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-growp row mt-3">
          <label for="e-mail" class="col-md-2 col-form-label">メールアドレス</label>
          <div class="col-md-3">
             <%= f.text_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-growp row mt-3">
          <label for="e-mail" class="col-md-2 col-form-label"></label>
          <div class="col-md-4">
            <%= f.submit "編集内容を保存", class: "btn btn-success" %>
          </div>
          <div class="col-md-4">
            <%= link_to "退会する", customer_unsubscribe_path, class: "btn btn-danger" %>
          </div>
        </div>
      </form>
      <% end %>
    </div>
  </div>
</div>