<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/homes/list', genres: @genres %>
    </div>
    <div class="col-md-9 offset-md-1">
      <div class="row">
        <h4>商品一覧</h4><P>(全<%= @items.count %>件)</P>
      </div>
      <div class="row">
        <% @items.each do |item| %>
        <div class="d-flex justify-content-start">
          <div class="box">
            <div class="col-auto">
              <div class="image">
                <%= link_to item_path(item.id) do %>
                  <%= attachment_image_tag item, :image, format: 'jpeg', size: "130x120" %>
                <% end %>
              </div>
              <div class="name">
                <%= item.name %>
              </div>
              <div class="price">
                ￥<%= item.add_tax_price.to_s(:delimited) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <%= paginate @items %>
    </div>
  </div>
</div>